.mybutton {
    width: 50%;
    display: block;
    margin: auto;
}

@media only screen and (max-width:470px) {
    .flex-wrap {
        display: flex;
        flex-direction: column;
    }
    .mycart {
        width: 100% !important;
        margin-bottom: 10px;
    }  
} 