{% extends 'base.html' %}

{% block content %}
<div id="top">
    <div class="container">
        <div class="container py-3">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% tran 'Menu' %}</a></li>
            </ul>    
        <h5 class="my-2"> {% trans 'Meals added to cart' %}</h5>
        <div class="d-flex flex-wrap">
            {% for cart_item in cart_items %}
            <div class="card mx-1 mycart" style="width: 30%;">
                <img src="{{cart_item.meal.meal_image1.url}}" alt="...">
                <div class="card-body">
                  <h4 class="card-title">{{cart_item.meal}}</h4>
                  <h6 class="card-text">{{cart_item.meal.meal_description}}</h6><br>
                  <div class="card-footer">
                  <div class="input-group input-spinner">
                    <div class="input-group-prepend">
                        <button class="btn btn-light" type="button" id="button-plus">+</button>
                    </div>
                    <input type="text" class="form-control" value="{{cart_item.quantity}}">
                    <div class="input-group-append">
                        <a href="{% url 'add_cart' cart_item.meal.id %}" class="btn btn-light" id="button-minus">-</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
               {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock content %}