{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="top">
<div class="container">
    <form class="d-flex my-1" method="POST" role="search" action="{% url 'search' %}"> 
         {% csrf_token %}
        <input class="form-control" type="text" name="search" placeholder="{% trans 'Search meal' %}">
        <button type="submit" class="btn btn-primary ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
    </form>
    <ul class="nav nav-pills d-flex align-items-center nav-justified py-1" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#main">{% trans 'Main Menu' %} ({{meals.count}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#bar">{% trans 'Bar' %} <br> ({{bar.count}})</a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content py-2">
        <div id="main" class="container tab-pane active">
          {% for meal in meals %}
          <div class="mybox">
            <h3><a href="{% url 'menumeals' meal.id %}" class="text-decoration-none text-light px-1"><b>{{meal.category_name}}</b> </a></h3>
            <a class="text-decoration-none text-dark" href="{% url 'menumeals' meal.id %}"><img src="{{meal.category_image.url}}" class="img-fluid img-thumbnail" style="border-radius: 50px;height:200px;object-fit: cover;" alt=""></a>
          </div>
          {% endfor %}
        </div>
        <div id="bar" class="container tab-pane fade">
          {% for b in bar %}
          <div class="mybox">
            <h3><a href="{% url 'menumeals' b.id %}" class="text-decoration-none text-light px-1"><b> {{b.category_name}}</b> </a></h3>
            <a class="text-decoration-none text-dark" href="{% url 'menumeals' b.id %}"><img src="{{b.category_image.url}}" class="img-fluid img-thumbnail" style="height:200px;object-fit: cover;border-radius:50px;" alt=""></a>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
</div>
{% endblock content %}
